*{
    margin: 0;
    padding: 0;
}

header{
    height: 1024px;
    background-image: url(backgraund_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.center {
    padding-left: 120px;
    padding-right: 120px;
}

.heading{
    padding-top: 217px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}

.owerview{
    margin-top: 32px;
    width: 481px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}
.owerview-link{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}
.go{
    margin-top: 44px;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main{    
    background: #000915;
}
.nav_game{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}
.game{
    grid-column: span 4;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    display: flex;
    padding-left: 32px;
    padding-bottom: 32px;
    align-items: flex-end;
    text-decoration: none;
}
.game1{
    background-image: url(game1.png);
}
.game2{
    background-image: url(game2.png);
}
.game3{
    background-image: url(game3.png);
}

@media (max-width: 426px){  
    header{
        height: 735px;
    }  
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .heading{
        font-size: 32px;
        padding-top: 238px;
        justify-content: center;
        text-align: center;
    }
    .owerview{
        text-align: center;
        width: 343px;
        font-size: 14px;
        line-height: 22px;
    }
    .owerview-link{
        font-size: 14px;
        line-height: 22px;        
    }
    .go{
        margin-left: 54px;
        margin-top: 32px;
    }
    .game{
        grid-column: span 12;
    }
}

@media (max-width: 360px){
    .owerview{
        width: auto;
    }
    
    .go{
        margin-left: 30px;
    }
}